[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggalignment"]
	path = ggalignment
	url = https://github.com/aftonsteps/ggalignment
